@use '../../../../assets/styles/variables';
// overwrite primeng styles
    
// custom styles
.buy {
    &__caption {
        caption-side: top;
        width: 100%;
        display: flex;
        align-items: center;
        padding: .25rem 0;
    }
    &__table {
        .p-datatable-header {
            background-color: transparent;
            border-top: none;
            padding-left: 0 !important;
        }
    }
    &__button {
      &--icon {
        &-remove {
          font-size: 1.7rem;
          color: #f00;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 1.1;
          vertical-align: bottom;
          &:hover {
            color: lighten(#f00, 10%);
          }
          &:active {
            color: darken(#f00, 10%);
          }
          &::before {
            content: "\2718";
          }
        }
      }
    }
}
