@use "@material/list";
@include list.core-styles;

h3 {
    margin: 40px 0 0;
  }
  .vertical-menu {
    padding: 0;
    background-color: #343a40;

    // &__item {
    //   &--active {
    //     background-color: #dde;  
    //     border: 1px solid #bb88;
    //   }
    //   &--loading {
    //     &:before {
    //       content: " ";
    //       position: absolute;
    //       right: .07rem;
    //       border-radius: 50%;
    //       width: 0;
    //       height: 0;
    //       margin: .2rem;
    //       box-sizing: border-box;
    //       border: .7rem solid currentColor;
    //       border-color: currentColor transparent currentColor transparent;
    //       animation: lds-hourglass 1.2s infinite;
    //     } 
    //   }
    //   &-link {
    //     display: flex;
    //     align-items: center;
    //     height: 61px;
    //     position: relative;
    //     z-index: 2;
    //     padding: 20px 30px 19px 70px;
    //     font-size: 18px;
    //     font-family: UniversLT-Condensed, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    //     font-weight: normal;
    //     font-style: normal;
    //     color: #fff;
    //     text-decoration: none;
    //     text-transform: uppercase;
    //     border-bottom: 1px solid #777;
    //     transition: background-color 0.3s, color 0.3s;
    //     &::after {
    //       content: "";
    //       position: absolute;
    //       right: 0;
    //       border-color: transparent;
    //       border-width: 30px 0 30px 17px;
    //       border-style: solid;
    //       transition: right 0.3s 0.3s, border-color 0.3s;
    //     }

    //     &:hover {
    //       background: #232323;
    //       color: #0070BA;
    //     }

    //     &--active {
    //       background: #0070BA !important;
    //       color: #fff !important;

    //       &::after {
    //         border-color: #0000 #0000 #0000 #0070BA;
    //         right: -17px;
    //       }
    //     }
    //   }
    //   &-year, &-month {
    //     display: block;
    //     background-color: #dedede;
    //     color: #777;
    //     position: relative;
    //     z-index: 2;
    //     padding: .3rem 1rem;
    //     line-height: 1;
    //     border-bottom: 1px solid #fff;
    //     cursor: pointer;
    //   }
    //   &-year {
    //     font-size: .8rem;
    //   }
    //   &-month {
    //     font-size: 1rem;
    //   }
    // }
    // &__item-icon {
    //   position: absolute;
    //   left: 1rem;
    // }
    // &__count-icon {
    //   position: absolute;
    //   top: 0;
    //   bottom: 1.6rem;
    //   left: 1.8rem;
    //   margin-top: auto;
    //   margin-bottom: auto;
    //   height: 1.3rem;
    //   min-width: 1.3rem;
    //   border-radius: 1rem;
    //   background-color: #c92f2f;
    //   color: #fff;
    //   font-size: .7rem;
    //   line-height: 1.3rem;
    //   text-align: center;
    //   vertical-align: middle;
    //   z-index: 1;
    // }
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }