.search-box {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 0 none;
    color: #495057;
    background: #f8f9fa;
    margin: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;
    &__icon {
        right: 1.5rem; 
        color: #6c757d; 
    }
}