.search-box {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 0 none;
    color: #495057;
    background: #f8f9fa;
    margin: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    &__ctrl {
        font-size: 1rem;
        color: #495057;
        background: #fff;
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;
        border: 1px solid #ced4da;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        appearance: none;
        border-radius: 3px;
        width: 100%;
        margin: 0;
    }
}