// @use '../node_modules/normalize.css/normalize.css' as *;
// @use '../node_modules/bootstrap/dist/css/bootstrap.min.css' as *;
@use './assets/styles/variables.scss' as *;
@import "primereact/resources/themes/lara-light-indigo/theme.css";  //theme
@import "primereact/resources/primereact.min.css";                  //core css
@import "primeicons/primeicons.css";                                //icons

.main-container {
  font-size: $default-font-size;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: logo-spin infinite 20s linear;
    width: 3rem;
  }
}

.main-header {
  padding: 0;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  background-color: $default-nav-bg !important;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 3;

  .navbar-brand, .nav-link {
    color: #fff;
  }
}
.main-content {
  padding-top: 2.75rem;
  display: flex;
  height: 100vh;
  overflow: hidden;
  &__body {
    flex-grow: 1;
    padding: .5rem 1rem;
    overflow: auto;
    // background: url(~~/assets/images/dotted-bg.webp) no-repeat top left transparent;
    background-size: cover;
    display: flex;
    flex-direction: column;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -1.1rem;
      width: 1.1rem;
      bottom: 0;
      background-color: #fff;
      z-index: 0;
    }
  }
}
#spend-track {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.aside {
  overflow: auto;
  margin-top: 3.5rem;
}
.navbar-brand {
  display: flex;
  justify-content: center;
}

@keyframes logo-spin {
  100% {
    transform: rotate(360deg);
  }
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

@media screen and (max-width: 767px) {
  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}
@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.btn {
  &--icon {
    &-remove {
      font-size: 1.7rem;
      color: #f00;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1.1;
      vertical-align: bottom;
      &:hover {
        color: lighten(#f00, 10%);
      }
      &:active {
        color: darken(#f00, 10%);
      }
      &::before {
        content: "\2718";
      }
    }
  }
}